/* Vertical Spacing */

img {
    max-width: 100%;
    height: auto;
}

.thumbnail .caption-fixedh {
    overflow: hidden;
    height: 150px;
    margin-bottom: 30px;
}

.pad-100 {
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}

.pad-50 {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}

.pad-40 {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.pad-30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.pad-20 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.pad-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.padtop-50 {
    padding-top: 50px!important;
}

.padtop-40 {
    padding-top: 40px!important;
}

.padtop-30 {
    padding-top: 30px!important;
}

.padtop-20 {
    padding-top: 20px!important;
}

.padtop-10 {
    padding-top: 10px!important;
}

.padbot-50 {
    padding-bottom: 50px!important;
}

.padbot-40 {
    padding-bottom: 40px!important;
}

.padbot-30 {
    padding-bottom: 30px!important;
}

.padbot-20 {
    padding-bottom: 20px!important;
}

.padbot-10 {
    padding-bottom: 10px!important;
}

.marginbot-15 {
    margin-bottom: 15px!important;
}

.marginbot-25 {
    margin-bottom: 25px!important;
}

.marginbot-30 {
    margin-bottom: 30px!important;
}

.marginbot-35 {
    margin-bottom: 35px!important;
}

.margintop-15 {
    margin-top: 15px!important;
}

.margintop-25 {
    margin-top: 25px!important;
}

.margintop-30 {
    margin-top: 30px!important;
}

.margintop-35 {
    margin-top: 35px!important;
}

/* Full width background image section */

.bg-img {
    position: relative;
    -webkit-backface-visibility: visible!important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.media.recent-posts {
    padding: 0;
    margin: 0;
    list-style: none;
}

.media-listitem {
    padding: 10px 0;
    min-height: 95px;
}

.marginlft-90 {
    margin-left: 90px;
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.thumbnail .caption-fixedh {
    overflow: hidden;
    height: 150px;
    margin-bottom: 30px;
    position: relative;
}

.caption-fixedh:after {
    display: block;
    content: "";
    height: 40px;
    background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.thumbnail.thumb-carousel {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
    padding: 0;
    border: none;
    margin: 10px;
}

.thumbnail.thumb-carousel img {
    border-radius: 5px 5px 0 0;
}

.thumbnail-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

.popup-listwrap {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popup-listwrap li {
     padding: 25px 0 10px;
     border-bottom: solid 1px rgba(0,0,0,.1)
 }

.popup-listwrap li:last-child {
    border-bottom: none;
}